@charset "UTF-8";

.title {
    position: relative;
    font-size: 50px;
    text-align: center;
    line-height: 5rem;
    background-color: rgba(255, 255, 255, 0.250);
    border-left: 3px solid #898989;
    border-bottom: 5px solid #dddddd;
}

.title::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 5px;
    background-color: #387ccc;
}
.subTitle{
    display: block;    
    width: 100%;
    text-decoration: none;
    padding-left: 20px; 
    line-height: 3.5rem;
    color: #222222;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.250);
    padding-bottom: 5px;
}

.item{
    padding-top: 10px; 
    width: 80px;
    color: #222222;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.250);
}

form {
    padding-left: 20px; 
}

body{
    font-family: 'M PLUS 1p', sans-serif;
    background-image: url(../image/coffee.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
}

input[type="text"] {
    width: 250px;
    height: 30px;
}

input[type="password"] {
    width: 250px;
    height: 30px;
}

/*検索ボタンのサイズ */
input.loginBtn {
    width: 80px;
    height: 32px;
}