@charset "UTF-8";

.title {
    position: relative;
    font-size: 50px;
    text-align: center;
    line-height: 5rem;
    background-color: rgba(255, 255, 255, 0.250);
    border-left: 3px solid #898989;
    border-bottom: 5px solid #dddddd;
}

.title::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 5px;
    background-color: #387ccc;
}
.loginForm{
    background-color: #222222b4;
    min-height: 17rem;
    margin: auto;
    max-width: 25%;
    padding: 1rem;
}

.subTitle{
    display: block;    
    width: 100%;
    text-decoration: none;
    text-align: center; 
    line-height: 3.5rem;
    color: #222222;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.550);
    padding-bottom: 5px;
}

.item {
    display: inline-block; /* pタグをインラインブロック要素に変更 */
    width: 100%; /* 横幅を100%に設定 */
    box-sizing: border-box; /* ボックスモデルの計算にborderとpaddingを含める */
    padding: 10px;
    color: #222222;
    font-weight: 500;
    text-align: center;
    background-color: rgba(252, 165, 4, 0.692);
}


.inputMargin{
    margin-bottom: 15px;
}

form {
    padding: 10px; 
}

body{
    font-family: 'M PLUS 1p', sans-serif;
    background-image: url(../image/coffee.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
}

input[type="text"] {
    width: 100%;
    height: 30px;
}

input[type="password"] {
    width: 100%;
    height: 30px;
}

/*ログインボタンのサイズ */
input.loginBtn {
    width: 100%;
    line-height: 3rem;
    font-weight: 500;
    background-color: rgba(4, 161, 252, 0.692);
}